{% set bem_section_block = bem_section_block|default(['layout'])%}
{% set bem_section_element = bem_section_element|default(false)%}
{% set bem_section_modifier = bem_section_modifier|default([]) %}
{% set bem_section_extra = bem_section_extra|default([]) %}

{% set modifier = modifier ?? false %}
{% if (modifier|trim is not empty) %}
  {% set modifier = modifier %}
{% endif %}

{% if label %}
  {% set bem_section_modifier = bem_section_modifier|merge(['label-' ~ label|clean_class]) %}
{% endif %}
{% if modifier %}
  {% set bem_section_modifier = bem_section_modifier|merge([modifier]) %}
{% endif %}
{% if variant %}
  {% set bem_section_modifier = bem_section_modifier|merge([variant|clean_class]) %}
{% endif %}

{% set bem_section_extra = bem_section_extra|merge([
  'layout-section',
]) %}

{% if extra_classes %}
  {% set extraArray = extra_classes|split(' ') %}
  {% set bem_section_extra = bem_section_extra|merge(extraArray) %}
{% endif %}

{% set bem_region_block = bem_region_block|default(['layout'])%}
{% set bem_region_element = bem_region_element|default(['region'])%}
{% set bem_region_modifier = bem_region_modifier|default([]) %}
{% set bem_region_extra = bem_region_extra|default([]) %}

{% if label %}
  {% set bem_region_modifier = bem_region_modifier|merge([label|clean_class]) %}
{% endif %}
{% if modifier %}
  {% set bem_region_modifier = bem_region_modifier|merge([modifier]) %}
{% endif %}
{% if modifier and region_type %}
  {% if region_type == 'header' or region_type == 'footer' or region_type == 'aside' %}
    {% set bem_region_modifier = bem_region_modifier|merge([region_type ~ '--' ~ modifier]) %}
  {% endif %}
{% endif %}

{% set bem_region_extra = bem_region_extra|merge([
  'layout-builder__region',
]) %}

{% set subregion_classes_01 = [
  'layout__subregion',
  'layout__subregion-01',
] %}
{% if modifier %}
  {% set subregion_classes_01 = subregion_classes_01|merge([
    'layout__subregion' ~ '--' ~ modifier,
    'layout__subregion-01' ~ '--' ~ modifier,
  ]) %}
{% endif %}

{% set subregion_classes_02 = [
  'layout__subregion',
  'layout__subregion-02',
] %}
{% if modifier %}
  {% set subregion_classes_02 = subregion_classes_02|merge([
   'layout__subregion' ~ '--' ~ modifier,
   'layout__subregion-02' ~ '--' ~ modifier,
  ]) %}
{% endif %}


{% if content %}

<div {{bem(bem_section_block, bem_section_element, bem_section_modifier, bem_section_extra)}}>

  <div {{bem(bem_region_block, bem_region_element, bem_region_modifier, bem_region_extra)}}>

    {% if content.before01 %}
      <div class="{{subregion_classes_01|join(' ')}}">
      {% block section_before01 %}
      {{content.before01}}
      {% endblock %}
      </div>
    {% endif %}

    {% if content.before02 %}
      <div class="{{subregion_classes_02|join(' ')}}">
      {% block section_before02 %}
      {{content.before02}}
      {% endblock %}
      </div>
    {% endif %}

    {% if content.content %}
      {% block section_content %}
      {{ content.content }}
      {% endblock %}
    {% endif %}

    {% if content.after01 %}
      <div class="{{subregion_classes_01|join(' ')}}">
      {% block section_after01 %}
      {{content.after01}}
      {% endblock %}
      </div>
    {% endif %}

    {% if content.after02 %}
      <div class="{{subregion_classes_02|join(' ')}}">
      {% block section_after02 %}
      {{content.after02}}
      {% endblock %}
      </div>
    {% endif %}

  </div>

</div>
{% endif %}
